body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 80%;
    max-width: 500px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 80%;
    max-width: 500px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    margin: 0 auto;
    margin-top: 40px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}