<!doctype html>
<html>
  <head>
    <title>Data Loader | Webforce</title>
    <link rel="stylesheet" type="text/css" href="static\main.css">
  </head>
  <body>
    <header>
      <h1>Webforce</h1>
    </header>
    {% if table %}
      <section>
        <h2>Uploaded File Table</h2>
        {{ table|safe }}
      </section>
    {% endif %}
    <section>
      <h2>Upload a template</h2>
      <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_tempalet') }}">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
      </form>
    </section>
    <section>
      <h2>Upload a File</h2>
      <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
      </form>
    </section>
    <section>
      <h2>Data Management</h2>
      <ul>
        <li>
          <h3>Insert Data</h3>
          <form  method="POST" action="{{ url_for('Insert_file') }}">
            <button type="submit" class="btn btn-primary">Download Output CSV File</button>
          </form>
        </li>
        <li>
          <h3>Update Data</h3>
          <form method="POST" action="{{ url_for('Update_file') }}" >
            <button type="submit" class="btn btn-primary">Download Output CSV File</button>
          </form>
        </li>
        <li>
          <h3>Data Loader</h3>
          <form method="POST" action="{{ url_for('Data_loader') }}" >
            <button type="submit" class="btn btn-primary">Go</button>
          </form>
        </li>
      </ul>
    </section>
  </body>
</html>
