<!doctype html>
<html>
  <head>
    <title>Webforce Data loader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>Webforce Data loader</h1>
    {% if table %}
    <h2>Uploaded File Table:</h2>
    {{ table|safe }}
    {% endif %}
    <h2>Upload a File:</h2>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
    <h1>Insert</h1>
    <form  method="POST" action="{{ url_for('Insert_file') }}">
        <button type="submit" class="btn btn-primary">Download Output CSV File</button>
    </form>
    <h1>Update</h1>
    <form method="POST" action="{{ url_for('Update_file') }}" >
        <button type="submit" class="btn btn-primary">Download Output CSV File</button>
    </form>
    </form>
  </body>
</html>

